In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.__version__

'2.3.3'

In [17]:
df=pd.read_csv("ai_job_dataset.csv")

In [18]:
df.shape

(15000, 19)

In [19]:
df.head()

,job_id,job_title,salary_usd,salary_currency,experience_level,employment_type,company_location,company_size,employee_residence,remote_ratio,required_skills,education_required,years_experience,industry,posting_date,application_deadline,job_description_length,benefits_score,company_name
0,AI00001,AI Research Scientist,90376,USD,SE,CT,China,M,China,50,"Tableau, PyTorch, Kubernetes, Linux, NLP",Bachelor,9,Automotive,2024-10-18,2024-11-07,1076,5.9,Smart Analytics
1,AI00002,AI Software Engineer,61895,USD,EN,CT,Canada,M,Ireland,100,"Deep Learning, AWS, Mathematics, Python, Docker",Master,1,Media,2024-11-20,2025-01-11,1268,5.2,TechCorp Inc
2,AI00003,AI Specialist,152626,USD,MI,FL,Switzerland,L,South Korea,0,"Kubernetes, Deep Learning, Java, Hadoop, NLP",Associate,2,Education,2025-03-18,2025-04-07,1974,9.4,Autonomous Tech
3,AI00004,NLP Engineer,80215,USD,SE,FL,India,M,India,50,"Scala, SQL, Linux, Python",PhD,7,Consulting,2024-12-23,2025-02-24,1345,8.6,Future Systems
4,AI00005,AI Consultant,54624,EUR,EN,PT,France,S,Singapore,100,"MLOps, Java, Tableau, Python",Master,0,Media,2025-04-15,2025-06-23,1989,6.6,Advanced Robotics

In [20]:
df.columns

Index(['job_id', 'job_title', 'salary_usd', 'salary_currency',
       'experience_level', 'employment_type', 'company_location',
       'company_size', 'employee_residence', 'remote_ratio', 'required_skills',
       'education_required', 'years_experience', 'industry', 'posting_date',
       'application_deadline', 'job_description_length', 'benefits_score',
       'company_name'],
      dtype='object')

In [21]:
print("number of duplicate rows", df.duplicated().sum())

number of duplicate rows 0

In [22]:
print(df.isnull().sum())

job_id                    0
job_title                 0
salary_usd                0
salary_currency           0
experience_level          0
employment_type           0
company_location          0
company_size              0
employee_residence        0
remote_ratio              0
required_skills           0
education_required        0
years_experience          0
industry                  0
posting_date              0
application_deadline      0
job_description_length    0
benefits_score            0
company_name              0
dtype: int64

In [23]:
df['posting_date'] = pd.to_datetime(df['posting_date'], errors='coerce')
df['application_deadline'] = pd.to_datetime(df['application_deadline'] ,errors='coerce')

In [24]:
df['salary_usd'] = pd.to_numeric(df['salary_usd'] , errors='coerce')
df['years_experience'] = pd.to_numeric(df['years_experience'] , errors='coerce')

In [25]:
print(df.dtypes)

job_id                            object
job_title                         object
salary_usd                         int64
salary_currency                   object
experience_level                  object
employment_type                   object
company_location                  object
company_size                      object
employee_residence                object
remote_ratio                       int64
required_skills                   object
education_required                object
years_experience                   int64
industry                          object
posting_date              datetime64[ns]
application_deadline      datetime64[ns]
job_description_length             int64
benefits_score                   float64
company_name                      object
dtype: object

In [26]:
columns_to_check = ['salary_usd' , 'years_experience']
for col in columns_to_check:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3-Q1
    lower_bound= Q1 - 1.5 * IQR
    upper_bound= Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    print(f"Column: {col} | Outliers found: {outliers.shape[0]}")
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    print( "shape after rempving salary and experience outliers:" , df.shape)

Column: salary_usd | Outliers found: 483
shape after rempving salary and experience outliers: (14517, 19)
Column: years_experience | Outliers found: 0
shape after rempving salary and experience outliers: (14517, 19)

In [27]:
df.describe()

,salary_usd,remote_ratio,years_experience,posting_date,application_deadline,job_description_length,benefits_score
count,14517.000000,14517.000000,14517.000000,14517,14517,14517.000000,14517.000000
mean,109246.604533,49.448922,5.982228,2024-08-29 10:17:05.170489600,2024-10-11 21:46:23.137011712,1503.655645,7.505208
min,32519.000000,0.000000,0.000000,2024-01-01 00:00:00,2024-01-16 00:00:00,500.000000,5.000000
25%,69423.000000,0.000000,1.000000,2024-04-29 00:00:00,2024-06-13 00:00:00,1004.000000,6.300000
50%,97365.000000,50.000000,4.000000,2024-08-28 00:00:00,2024-10-12 00:00:00,1511.000000,7.500000
75%,140193.000000,100.000000,9.000000,2024-12-29 00:00:00,2025-02-10 00:00:00,2001.000000,8.800000
max,260729.000000,100.000000,19.000000,2025-04-30 00:00:00,2025-07-11 00:00:00,2499.000000,10.000000
std,50652.355882,40.839387,5.404928,NaN,NaN,576.148389,1.448920

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14517 entries, 0 to 14999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   job_id                  14517 non-null  object
 1   job_title               14517 non-null  object
 2   salary_usd              14517 non-null  int64
 3   salary_currency         14517 non-null  object
 4   experience_level        14517 non-null  object
 5   employment_type         14517 non-null  object
 6   company_location        14517 non-null  object
 7   company_size            14517 non-null  object
 8   employee_residence      14517 non-null  object
 9   remote_ratio            14517 non-null  int64
 10  required_skills         14517 non-null  object
 11  education_required      14517 non-null  object
 12  years_experience        14517 non-null  int64
 13  industry                14517 non-null  object
 14  posting_date            14517 non-null  datetime64[ns]
 15  application_deadline    14517 non-null  datetime64[ns]
 16  job_description_length  14517 non-null  int64
 17  benefits_score          14517 non-null  float64
 18  company_name            14517 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(4), object(12)
memory usage: 2.2+ MB

In [29]:
df.isnull().sum()

job_id                    0
job_title                 0
salary_usd                0
salary_currency           0
experience_level          0
employment_type           0
company_location          0
company_size              0
employee_residence        0
remote_ratio              0
required_skills           0
education_required        0
years_experience          0
industry                  0
posting_date              0
application_deadline      0
job_description_length    0
benefits_score            0
company_name              0
dtype: int64

In [30]:
df.to_csv("ai_jobs_clean.csv" , index=False)

In [31]:
data_dict = pd.DataFrame({
    'Column': df.columns, 
    'Type': [df[col].dtype for col in df.columns],
    'Example' :[df[col].iloc[0] for col in df.columns]
})
data_dict.to_csv("ai_jobs_data_dictionary.csv" , index=False)